nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 12px;
}
.lang {
  color: #292929;
}
.logo {
  height: 40px;
  float: left;
  position: relative;
}
.toggle {
  display: none;
}
.active a,
.menu li a:hover {
  background-color: #292929;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
}

@media (max-width: 900px) {
  .menu {
    transform: translatey(-200%);
  }

  .show_menu {
    transform: translateY(0);
  }
  .toggle {
    display: block;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 0px;
    vertical-align: middle;
  }
  .toggle.active:before {
    content: "\f00d" !important;
  }
  nav {
    padding: 10px 30px;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top: 60px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    display: flex !important;
    border: 3px solid #1f1f1f;
    flex-direction: column;
  }

  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff !important;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }

  .active-menu {
    display: block !important;
  }

  nav ul li a:hover {
    background-color: rgba(27, 29, 32, 0.15);
  }
}
