@charset "utf-8";
@font-face {
  font-family: slaztone;
  src: url(/fonts/Slaztone.otf);
}
@font-face {
  font-family: Paintingwithchocolate-K5mo;
  src: url(/fonts/Paintingwithchocolate-K5mo.ttf);
}
/* 
html,
body {
  overflow-x: hidden;
} */

/* CSS Document */
body {
  margin: 0px;
  padding: 0px;

  background-color: #161616;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  padding: 30px 50px;
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-size: 1330px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../images/bg.png");
  background-color: #edf1fd;
}

.name {
  /* font-family: calibri; */
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}
.name p:nth-child(1),
.name .details {
  color: #6c707c;
  font-size: 5vh;
  font-family: slaztone;
}
.name h2 {
  color: #6c707c;
  font-size: 5vh;
  font-family: slaztone;
  font-weight: 100;
}
.name h1 {
  font-family: Paintingwithchocolate-K5mo;
  font-weight: 100;
  /* font-family: "Courier New", Courier, monospace; */
  font-size: 4.3rem;
  margin: 0px;
  letter-spacing: 3px;
  color: #292929;
}
.name h1 {
  font-family: Paintingwithchocolate-K5mo;
  font-weight: 100;
  /* font-family: "Courier New", Courier, monospace; */
  font-size: 4.3rem;
  margin: 0px;
  letter-spacing: 3px;
  color: #292929;
}
.cv-btn {
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color: #ffffff;
}
.cv-btn:hover {
  background-color: #131313;
  transition: all ease 0.5s;
}
.black-line {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom: 0px;
  left: -3%;
  border-right: 1px solid rgba(41, 41, 41, 0.3);
}

.black-line::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color: #292929 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}

.social {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}
.social a {
  margin: 6px 12px;
}
.social i {
  color: rgba(18, 17, 17, 0.4);
  font-size: 30px;
}
.social a:hover i {
  color: #17d1ac;
  transition: all ease 0.5s;
}
#about {
  width: 100%;
  height: 100vh;
  background-color: #161616;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
}
.about-text {
  font-family: calibri;
  width: 50%;
}
.about-text h1 {
  font-size: 3rem;
  color: #17d1ac;
}
.about-text h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
}
.about-text h1,
h2 {
  /* margin: 0px; */
  padding: 0px;
}
.about-text p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
}
.about-text button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;
}
.about-text button:hover {
  background-color: #ffffff;
  transition: all ease 0.3s;
}
#services {
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background: ;
}

.s-heading h1 {
  color: #ffffff;
  font-size: 5rem;
  margin: 0px;
  padding: 0px;
}
.s-heading p {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 20px 0px;
}
.s-box {
  background-color: #2b2b2b;
  width: 350px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.5s ease;
}
.b-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.s-b-img {
  width: 100%;
  height: 70%;
}
.s-b-img img {
  width: 100%;
  height: 100%;
}
.s-b-text {
  width: 100%;
  height: 30%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.s-b-text a {
  margin: 0px;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-b-text a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.s-type {
  font-family: calibri;
  color: #ffffff;
  background-color: #151515;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.s-box:hover {
  transform: scale(1.2);
  transition: all ease 0.3s;
}
#portfolio {
  width: 100%;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 2% 20px 2%;
}
.p-heading h1 {
  color: #ffffff;
  font-size: 5rem;
  margin: 0px;
  padding: 0px;
}
.p-headind {
  font-family: calibri;
  font-size: 1.7rem;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #292929;
  letter-spacing: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.p-box {
  background-color: #1f1f1f;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
  position: relative;
}
.p-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.overlay-text {
  font-family: calibri;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(23, 209, 172, 0.8);
  display: none;
}
.overlay-text h1,
p {
   color: #ffffff; 
}
.overlay-text h1 {
  font-size: 2.2rem;
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
}
.overlay-text p {
  font-size: 1.2rem;
  margin: 0px;
}
.p-box:hover .overlay-text {
  display: flex;
}
#contact-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f4f7ff;
  margin: 20px 0px;
  box-sizing: border-box;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}
.c-b-heading {
  font-size: 2rem;
  color: #1e1e1e;
  font-family: calibri;
  margin: 10px;
  padding: 5px;
  letter-spacing: 4px;
  border-bottom: 2px solid #1e1e1e;
}
#contact-btn button {
  color: #ffffff;
  font-size: 1rem;
  font-family: calibri;
  width: 150px;
  height: 40px;
  margin: 10px;
  background-color: #c7c7c7;
  border: none;
  outline: none;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
}
#contact-btn button:hover {
  background-color: #17d1ac;
  /* color: #000000; */
  transition: all ease 0.5s;
  font-weight: bold;
}
#contact-form {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-form form {
  display: flex;
  width: 70%;
  height: 60vh;
  background-color: #1a1a1a;
  box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

.contact-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-right {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.contact-right button {
  width: 100%;
  height: 50px;
  background-color: #1ed98b;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 0px;
  color: #1b1b1b;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.c-l-heading {
  font-family: calibri;
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
}
.f-name,
.f-email {
  display: flex;
  flex-direction: column;
  font-family: calibri;
}
.f-name font,
.f-email font {
  color: #bfbfbf;
  font-size: 22px;
}
.f-name input,
.f-email input {
  height: 30px;
  width: 250px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #929292;
  color: #ffffff;
  margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.5;
  letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #17d1ac;
  transition: all ease 0.5s;
}
.message font {
  font-size: 18px;
  color: #4e4e4e;
  font-family: calibri;
}
.message {
  margin: 20px;
}
.contact-right textarea {
  width: 100% !important;
  height: 320px !important;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #ebebeb;
  font-size: 16px;
}
.contact-right textarea::placeholder {
  color: #ebebeb;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: calibri;
}
.contact-right button:active {
  transform: scale(1.04);
  transition: all ease 0.1s;
}
@media (max-width: 1190px) {
  #main {
    background-size: 1150px !important;
  }
  .name {
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .about-model img {
    height: 400px;
  }
  #services {
    height: auto;
  }
  .b-container {
    flex-wrap: wrap;
  }
  .s-box {
    flex-grow: 1;
  }
  .s-b-img img {
    object-fit: cover;
  }
  #contact-form form {
    width: 95% !important;
  }
}
@media (max-width: 970px) {
  #main {
    background-image: none !important;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about-model {
    display: none;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 4rem;
  }

  .p-container {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .p-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
  }
  .c-b-heading {
    font-size: 1.4rem;
    text-align: center;
  }
  #contact-form {
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }

  #contact-form form {
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 90% !important;
  }
  .contact-left,
  .contact-right {
    width: 100%;
    border: none;
  }
  .f-name,
  .f-email {
    width: 100%;
  }
  .f-name input,
  .f-email input {
    width: 100%;
    border: none;
    background-color: #262626 !important;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
  }
  textarea {
    background-color: #262626 !important;
    margin: 10px 0px;
    padding: 10px;
    height: 200px !important;
    width: 100% !important;
  }
  .message {
    margin: 0px;
  }
  #contact-form form h1 {
    margin: 5px 0px;
  }
}
@media (max-height: 1200px) {
  .s-box:hover {
    transform: scale(1.1);
    transition: all ease 0.3s;
  }
}
@media (max-height: 400px) {
  .s-box:hover {
    transform: scale(1);
    transition: all ease 0.3s;
  }
}
@media (max-width: 600px) {
  .s-heading h1 {
    font-size: 10vh;
  }
  .h-heading h1 {
    font-size: 10vh;
  }
  
  /* INTRO line responsive (small font)  */
  .name h1 {
    font-size: 3rem;
  }
  .name p:nth-child(1),
  .name .details {
    font-size: 4vh;
  }
  .about-text h1 {
    font-size: 8vh;
    bottom: 5vh;
  }
  .about-text h2 {
    font-size: 4vh;
  }
  .about-text p {
    font-size: 3vh;
  }
  .p-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .c-b-heading {
    font-size: 1.2rem;
    text-align: center;
    margin: 0px 10%;
  }
  .name {
    width: 60%;
  }

  .black-line {
    margin-bottom: 20px;
  }
  .social {
    left: 30px;
    transform: translateX(-10px);
  }
  .social i {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  .s-box {
    width: 100%;
    height: 400px;
  }
}

@media all and (max-width: 30em) {
   #contact-btn a.button2 {
    display: none;
  }
}

#contact-btn a.button2 {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #6c70ac;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: slaztone;

  font-weight: 400;
  color: #6c70ac;
  text-align: center;
  transition: all 0.15s;
}

#contact-btn a.button2:hover {
  color: #17d1ac;
  border-color: #17d1ac;
}

#contact-btn a.button2:active {
  color: #17c1ac;
  border-color: #17d1ac;
}
